# Load Dataset

In [1]:
import pandas as pd
import numpy as np

# Creating DataFrame

## Create from List

In [26]:
first = [1,2,3,4,5,6]
second = [2,3,4,5,6,7]
zip_result = zip(first, second)
print(zip_result)

df1 = pd.DataFrame(list(zip(first, second)), columns = ['satu','dua'])

<zip object at 0x7f945861d190>

In [27]:
print(df1)

   satu  dua
0     1    2
1     2    3
2     3    4
3     4    5
4     5    6
5     6    7

In [28]:
display(df1)

   satu  dua
0     1    2
1     2    3
2     3    4
3     4    5
4     5    6
5     6    7

In [29]:
df1

   satu  dua
0     1    2
1     2    3
2     3    4
3     4    5
4     5    6
5     6    7

## Create from Array

In [30]:
array = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df2 = pd.DataFrame(array, columns=['siji', 'loro', 'telu'])

In [31]:
df2

   siji  loro  telu
0     1     2     3
1     4     5     6
2     7     8     9

## Create from Series

In [32]:
first = pd.Series([1,2,3,4,5,6])
second = pd.Series([2,3,4,5,6,7])
df3 = pd.DataFrame(first, columns=['first'])

In [33]:
df3

   first
0      1
1      2
2      3
3      4
4      5
5      6

In [35]:
df3['second'] = second

In [36]:
df3

   first  second
0      1       2
1      2       3
2      3       4
3      4       5
4      5       6
5      6       7

## Create from Tuple

In [38]:
tuple1 = tuple([1,2,3,4,5])
tuple2 = tuple([6,7,8,9,10])
df4 = pd.DataFrame([tuple1, tuple2])

In [39]:
df4

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

## Create from Dictionary

In [40]:
author = ['Joko', 'Mickey', 'Huang', 'Jyoti'] 
article = [210, 211, 114, 178] 
dictionary = { 'Author': author, 'Article': article }
dictionary

{'Author': ['Joko', 'Mickey', 'Huang', 'Jyoti'],
 'Article': [210, 211, 114, 178]}

In [41]:
df5 = pd.DataFrame(dictionary)

In [42]:
df5

   Author  Article
0    Joko      210
1  Mickey      211
2   Huang      114
3   Jyoti      178

## Create from Looping List

In [43]:
c = [3, 4, 5, 4, 8, 6]
d = [1, 2, 3, 4, 5, 6]
e = [10, 11, 12, 13, 14, 16]
column_names = ['satu', 'dua', 'tiga']
kumpulan = [c, d, e]
for col in range(len(kumpulan)):
    if col == 0:
        data = pd.DataFrame(kumpulan[col], columns=[column_names[col]])
    else:
        data[column_names[col]] = kumpulan[col]
data

   satu  dua  tiga
0     3    1    10
1     4    2    11
2     5    3    12
3     4    4    13
4     8    5    14
5     6    6    16

# Importing Data to Jupyter Notebook

In [44]:
jabar_covid = pd.read_csv('jabar-corona-virus-case.csv')
jabar_covid

,date,positive_total,positive_daily,odp_process,odp_end,odp_total,odp_daily,pdp_process,pdp_end,pdp_total,...,total_positive_kabgarut,total_positive_kabindramayu,total_positive_kabkarawang,total_positive_kabmajalengka,total_positive_kabpangandaran,total_positive_kabsubang,total_positive_kabtasikmalaya,total_positive_kotabanjar,total_positive_kotacirebon,total_positive_kotasukabumi
0,01-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,02-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,03-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,04-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,05-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,06-Mar-20,3,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,07-Mar-20,3,0,0,0,429,0,0,0,48,...,0,0,0,0,0,0,0,0,0,0
7,08-Mar-20,3,0,0,0,429,0,0,0,48,...,0,0,0,0,0,0,0,0,0,0
8,09-Mar-20,3,0,0,0,533,0,0,0,49,...,0,0,0,0,0,0,0,0,0,0
9,10-Mar-20,3,0,0,0,592,59,0,0,53,...,0,0,0,0,0,0,0,0,0,0
10,11-Mar-20,3,0,0,0,639,47,0,0,59,...,0,0,0,0,0,0,0,0,0,0
11,12-Mar-20,3,0,0,0,653,14,0,0,63,...,0,0,0,0,0,0,0,0,0,0
12,13-Mar-20,3,0,0,0,706,53,0,0,65,...,0,0,0,0,0,0,0,0,0,0
13,14-Mar-20,3,0,0,0,706,0,0,0,82,...,0,0,0,0,0,0,0,0,0,0
14,15-Mar-20,10,7,0,0,785,79,0,0,83,...,0,0,0,0,0,0,0,0,0,0
15,16-Mar-20,10,0,0,0,881,96,0,0,89,...,0,0,0,0,0,0,0,0,0,0
16,17-Mar-20,10,0,0,0,1004,123,0,0,101,...,0,0,0,0,0,0,0,0,0,0
17,18-Mar-20,22,12,0,0,1165,161,0,0,126,...,0,0,0,0,0,0,0,0,0,0
18,19-Mar-20,26,4,0,0,1412,247,0,0,132,...,0,0,0,0,0,0,0,0,0,0
19,20-Mar-20,41,15,0,0,1506,94,0,0,136,...,0,0,0,0,0,0,0,0,0,0
20,21-Mar-20,55,14,0,0,1774,268,0,0,157,...,0,0,0,0,0,0,0,0,0,0
21,22-Mar-20,59,4,0,0,1822,48,0,0,166,...,0,0,0,0,0,0,0,0,0,0
22,23-Mar-20,59,0,0,0,2519,697,0,0,385,...,0,0,0,0,0,0,0,0,0,0
23,24-Mar-20,60,1,0,0,2771,252,0,0,466,...,0,0,0,0,0,0,0,0,0,0
24,25-Mar-20,73,13,0,0,3669,898,0,0,572,...,0,0,0,0,0,0,0,0,0,0
25,26-Mar-20,78,5,0,0,3703,34,0,0,578,...,0,0,0,0,0,0,0,0,0,0
26,27-Mar-20,98,20,3575,1399,4974,1271,524,134,658,...,0,0,0,0,0,0,0,0,0,0
27,28-Mar-20,98,0,3575,1399,4974,0,524,134,658,...,0,0,0,0,0,0,0,0,0,0
28,29-Mar-20,149,30,5293,1988,7281,1862,660,190,850,...,0,0,0,0,0,0,0,0,0,0
29,30-Mar-20,149,30,5293,1988,7281,1862,660,190,850,...,0,0,1,0,0,0,0,0,0,0
30,31-Mar-20,180,31,8467,2562,11038,3757,696,202,898,...,0,0,6,1,0,0,0,0,0,0
31,1-Apr-20,220,22,8467,2562,14291,1774,747,256,898,...,0,0,8,1,0,0,0,0,0,0
32,2-Apr-20,220,22,11245,3046,14291,1416,747,256,1003,...,0,0,8,1,0,0,0,0,0,0
33,3-Apr-20,225,5,11245,3046,16932,685,747,256,1205,...,0,0,8,1,0,0,0,0,0,0
34,4-Apr-20,247,22,11245,3046,20712,4320,747,256,1354,...,0,0,8,1,0,0,0,0,0,0
35,5-Apr-20,252,5,16916,5075,21991,1279,998,453,1451,...,0,0,8,1,0,0,0,0,0,0
36,6-Apr-20,263,11,16916,5075,21991,668,990,453,1451,...,0,0,8,1,0,0,2,1,1,0
37,7-Apr-20,343,80,16916,5075,21991,2365,990,453,1451,...,2,1,8,1,0,1,2,1,1,1
38,8-Apr-20,366,23,17231,8363,25594,570,1279,637,1916,...,2,1,8,1,0,1,2,1,1,1

# Connecting Data from Drive

In [1]:
# Authorize Google Colab to Access Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

# Example of file path
# 'gdrive/My Drive/Colab Notebooks/data.csv'

Mounted at /content/gdrive

# Read Dataframe

In [ ]:
path = 'gdrive/My Drive/DigitalSkola/Dataset/50_Startups.csv'
df = pd.read_csv(path, delimiter=',')
df
# From Excel
# df = pd.read_excel('filepath.type', sheet_name=0, header=0, names=None, index_col=None)

# Selecting Dataframe

## Show top/bottom dataframe

In [45]:
# Top 5
jabar_covid.head()

,date,positive_total,positive_daily,odp_process,odp_end,odp_total,odp_daily,pdp_process,pdp_end,pdp_total,...,total_positive_kabgarut,total_positive_kabindramayu,total_positive_kabkarawang,total_positive_kabmajalengka,total_positive_kabpangandaran,total_positive_kabsubang,total_positive_kabtasikmalaya,total_positive_kotabanjar,total_positive_kotacirebon,total_positive_kotasukabumi
0,01-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,02-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,03-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,04-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,05-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
jabar_covid.head(10)

,date,positive_total,positive_daily,odp_process,odp_end,odp_total,odp_daily,pdp_process,pdp_end,pdp_total,...,total_positive_kabgarut,total_positive_kabindramayu,total_positive_kabkarawang,total_positive_kabmajalengka,total_positive_kabpangandaran,total_positive_kabsubang,total_positive_kabtasikmalaya,total_positive_kotabanjar,total_positive_kotacirebon,total_positive_kotasukabumi
0,01-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,02-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,03-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,04-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,05-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,06-Mar-20,3,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,07-Mar-20,3,0,0,0,429,0,0,0,48,...,0,0,0,0,0,0,0,0,0,0
7,08-Mar-20,3,0,0,0,429,0,0,0,48,...,0,0,0,0,0,0,0,0,0,0
8,09-Mar-20,3,0,0,0,533,0,0,0,49,...,0,0,0,0,0,0,0,0,0,0
9,10-Mar-20,3,0,0,0,592,59,0,0,53,...,0,0,0,0,0,0,0,0,0,0

In [47]:
# Bottom 5
jabar_covid.tail()

,date,positive_total,positive_daily,odp_process,odp_end,odp_total,odp_daily,pdp_process,pdp_end,pdp_total,...,total_positive_kabgarut,total_positive_kabindramayu,total_positive_kabkarawang,total_positive_kabmajalengka,total_positive_kabpangandaran,total_positive_kabsubang,total_positive_kabtasikmalaya,total_positive_kotabanjar,total_positive_kotacirebon,total_positive_kotasukabumi
34,4-Apr-20,247,22,11245,3046,20712,4320,747,256,1354,...,0,0,8,1,0,0,0,0,0,0
35,5-Apr-20,252,5,16916,5075,21991,1279,998,453,1451,...,0,0,8,1,0,0,0,0,0,0
36,6-Apr-20,263,11,16916,5075,21991,668,990,453,1451,...,0,0,8,1,0,0,2,1,1,0
37,7-Apr-20,343,80,16916,5075,21991,2365,990,453,1451,...,2,1,8,1,0,1,2,1,1,1
38,8-Apr-20,366,23,17231,8363,25594,570,1279,637,1916,...,2,1,8,1,0,1,2,1,1,1

In [49]:
jabar_covid.tail(15)

,date,positive_total,positive_daily,odp_process,odp_end,odp_total,odp_daily,pdp_process,pdp_end,pdp_total,...,total_positive_kabgarut,total_positive_kabindramayu,total_positive_kabkarawang,total_positive_kabmajalengka,total_positive_kabpangandaran,total_positive_kabsubang,total_positive_kabtasikmalaya,total_positive_kotabanjar,total_positive_kotacirebon,total_positive_kotasukabumi
24,25-Mar-20,73,13,0,0,3669,898,0,0,572,...,0,0,0,0,0,0,0,0,0,0
25,26-Mar-20,78,5,0,0,3703,34,0,0,578,...,0,0,0,0,0,0,0,0,0,0
26,27-Mar-20,98,20,3575,1399,4974,1271,524,134,658,...,0,0,0,0,0,0,0,0,0,0
27,28-Mar-20,98,0,3575,1399,4974,0,524,134,658,...,0,0,0,0,0,0,0,0,0,0
28,29-Mar-20,149,30,5293,1988,7281,1862,660,190,850,...,0,0,0,0,0,0,0,0,0,0
29,30-Mar-20,149,30,5293,1988,7281,1862,660,190,850,...,0,0,1,0,0,0,0,0,0,0
30,31-Mar-20,180,31,8467,2562,11038,3757,696,202,898,...,0,0,6,1,0,0,0,0,0,0
31,1-Apr-20,220,22,8467,2562,14291,1774,747,256,898,...,0,0,8,1,0,0,0,0,0,0
32,2-Apr-20,220,22,11245,3046,14291,1416,747,256,1003,...,0,0,8,1,0,0,0,0,0,0
33,3-Apr-20,225,5,11245,3046,16932,685,747,256,1205,...,0,0,8,1,0,0,0,0,0,0
34,4-Apr-20,247,22,11245,3046,20712,4320,747,256,1354,...,0,0,8,1,0,0,0,0,0,0
35,5-Apr-20,252,5,16916,5075,21991,1279,998,453,1451,...,0,0,8,1,0,0,0,0,0,0
36,6-Apr-20,263,11,16916,5075,21991,668,990,453,1451,...,0,0,8,1,0,0,2,1,1,0
37,7-Apr-20,343,80,16916,5075,21991,2365,990,453,1451,...,2,1,8,1,0,1,2,1,1,1
38,8-Apr-20,366,23,17231,8363,25594,570,1279,637,1916,...,2,1,8,1,0,1,2,1,1,1

## Get the dimension of dataframe

In [53]:
# Shape of Dataframe
print(jabar_covid.shape)

# Size of Dataframe
print(jabar_covid.size)

# Total rows of Dataframe
print(len(jabar_covid))
print(jabar_covid.shape[1])

(39, 39)
1521
39
39

In [54]:
jabar_covid

,date,positive_total,positive_daily,odp_process,odp_end,odp_total,odp_daily,pdp_process,pdp_end,pdp_total,...,total_positive_kabgarut,total_positive_kabindramayu,total_positive_kabkarawang,total_positive_kabmajalengka,total_positive_kabpangandaran,total_positive_kabsubang,total_positive_kabtasikmalaya,total_positive_kotabanjar,total_positive_kotacirebon,total_positive_kotasukabumi
0,01-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,02-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,03-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,04-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,05-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,06-Mar-20,3,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,07-Mar-20,3,0,0,0,429,0,0,0,48,...,0,0,0,0,0,0,0,0,0,0
7,08-Mar-20,3,0,0,0,429,0,0,0,48,...,0,0,0,0,0,0,0,0,0,0
8,09-Mar-20,3,0,0,0,533,0,0,0,49,...,0,0,0,0,0,0,0,0,0,0
9,10-Mar-20,3,0,0,0,592,59,0,0,53,...,0,0,0,0,0,0,0,0,0,0
10,11-Mar-20,3,0,0,0,639,47,0,0,59,...,0,0,0,0,0,0,0,0,0,0
11,12-Mar-20,3,0,0,0,653,14,0,0,63,...,0,0,0,0,0,0,0,0,0,0
12,13-Mar-20,3,0,0,0,706,53,0,0,65,...,0,0,0,0,0,0,0,0,0,0
13,14-Mar-20,3,0,0,0,706,0,0,0,82,...,0,0,0,0,0,0,0,0,0,0
14,15-Mar-20,10,7,0,0,785,79,0,0,83,...,0,0,0,0,0,0,0,0,0,0
15,16-Mar-20,10,0,0,0,881,96,0,0,89,...,0,0,0,0,0,0,0,0,0,0
16,17-Mar-20,10,0,0,0,1004,123,0,0,101,...,0,0,0,0,0,0,0,0,0,0
17,18-Mar-20,22,12,0,0,1165,161,0,0,126,...,0,0,0,0,0,0,0,0,0,0
18,19-Mar-20,26,4,0,0,1412,247,0,0,132,...,0,0,0,0,0,0,0,0,0,0
19,20-Mar-20,41,15,0,0,1506,94,0,0,136,...,0,0,0,0,0,0,0,0,0,0
20,21-Mar-20,55,14,0,0,1774,268,0,0,157,...,0,0,0,0,0,0,0,0,0,0
21,22-Mar-20,59,4,0,0,1822,48,0,0,166,...,0,0,0,0,0,0,0,0,0,0
22,23-Mar-20,59,0,0,0,2519,697,0,0,385,...,0,0,0,0,0,0,0,0,0,0
23,24-Mar-20,60,1,0,0,2771,252,0,0,466,...,0,0,0,0,0,0,0,0,0,0
24,25-Mar-20,73,13,0,0,3669,898,0,0,572,...,0,0,0,0,0,0,0,0,0,0
25,26-Mar-20,78,5,0,0,3703,34,0,0,578,...,0,0,0,0,0,0,0,0,0,0
26,27-Mar-20,98,20,3575,1399,4974,1271,524,134,658,...,0,0,0,0,0,0,0,0,0,0
27,28-Mar-20,98,0,3575,1399,4974,0,524,134,658,...,0,0,0,0,0,0,0,0,0,0
28,29-Mar-20,149,30,5293,1988,7281,1862,660,190,850,...,0,0,0,0,0,0,0,0,0,0
29,30-Mar-20,149,30,5293,1988,7281,1862,660,190,850,...,0,0,1,0,0,0,0,0,0,0
30,31-Mar-20,180,31,8467,2562,11038,3757,696,202,898,...,0,0,6,1,0,0,0,0,0,0
31,1-Apr-20,220,22,8467,2562,14291,1774,747,256,898,...,0,0,8,1,0,0,0,0,0,0
32,2-Apr-20,220,22,11245,3046,14291,1416,747,256,1003,...,0,0,8,1,0,0,0,0,0,0
33,3-Apr-20,225,5,11245,3046,16932,685,747,256,1205,...,0,0,8,1,0,0,0,0,0,0
34,4-Apr-20,247,22,11245,3046,20712,4320,747,256,1354,...,0,0,8,1,0,0,0,0,0,0
35,5-Apr-20,252,5,16916,5075,21991,1279,998,453,1451,...,0,0,8,1,0,0,0,0,0,0
36,6-Apr-20,263,11,16916,5075,21991,668,990,453,1451,...,0,0,8,1,0,0,2,1,1,0
37,7-Apr-20,343,80,16916,5075,21991,2365,990,453,1451,...,2,1,8,1,0,1,2,1,1,1
38,8-Apr-20,366,23,17231,8363,25594,570,1279,637,1916,...,2,1,8,1,0,1,2,1,1,1

## Get Data type and descriptive statistics

In [56]:
# Get data types
jabar_covid.dtypes

date                              object
positive_total                     int64
positive_daily                     int64
odp_process                        int64
odp_end                            int64
odp_total                          int64
odp_daily                          int64
pdp_process                        int64
pdp_end                            int64
pdp_total                          int64
pdp_daily                          int64
total_deceased                     int64
total_released                     int64
total_positive_kotabekasi          int64
total_positive_depok               int64
total_positive_kabbekasi           int64
total_positive_kotabandung         int64
total_positive_kotabogor           int64
total_positive_kabbogor            int64
total_positive_kotacimahi          int64
total_positive_kabbandung          int64
total_positive_kabkuningan         int64
total_positive_kabpurwakarta       int64
total_positive_kabcirebon          int64
total_positive_kabsukabumi         int64
total_positive_kabsumedang         int64
total_positive_kotatasikmalaya     int64
total_positive_kabciamis           int64
total_positive_kabcianjur          int64
total_positive_kabgarut            int64
total_positive_kabindramayu        int64
total_positive_kabkarawang         int64
total_positive_kabmajalengka       int64
total_positive_kabpangandaran      int64
total_positive_kabsubang           int64
total_positive_kabtasikmalaya      int64
total_positive_kotabanjar          int64
total_positive_kotacirebon         int64
total_positive_kotasukabumi        int64
dtype: object

In [58]:
df5.dtypes

Author     object
Article     int64
dtype: object

In [59]:
# Get descriptive statistics
jabar_covid.describe()

,positive_total,positive_daily,odp_process,odp_end,odp_total,odp_daily,pdp_process,pdp_end,pdp_total,pdp_daily,...,total_positive_kabgarut,total_positive_kabindramayu,total_positive_kabkarawang,total_positive_kabmajalengka,total_positive_kabpangandaran,total_positive_kabsubang,total_positive_kabtasikmalaya,total_positive_kotabanjar,total_positive_kotacirebon,total_positive_kotasukabumi
count,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,...,39.000000,39.000000,39.000000,39.000000,39.0,39.000000,39.000000,39.000000,39.000000,39.000000
mean,85.641026,9.717949,3497.025641,1144.205128,5667.666667,641.000000,264.333333,99.230769,464.128205,50.820513,...,0.102564,0.051282,1.820513,0.230769,0.0,0.051282,0.153846,0.076923,0.076923,0.051282
std,106.487332,15.286645,5810.030766,1979.688707,7801.985798,1032.246069,397.486732,166.103402,537.661563,70.345715,...,0.446912,0.223456,3.323535,0.426833,0.0,0.223456,0.539906,0.269953,0.269953,0.223456
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,0.000000,0.000000,0.000000,615.500000,0.000000,0.000000,0.000000,56.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,41.000000,4.000000,0.000000,0.000000,1506.000000,96.000000,0.000000,0.000000,136.000000,9.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
75%,149.000000,14.500000,5293.000000,1988.000000,7281.000000,797.500000,660.000000,190.000000,850.000000,80.500000,...,0.000000,0.000000,0.500000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
max,366.000000,80.000000,17231.000000,8363.000000,25594.000000,4320.000000,1279.000000,637.000000,1916.000000,219.000000,...,2.000000,1.000000,8.000000,1.000000,0.0,1.000000,2.000000,1.000000,1.000000,1.000000

In [60]:
df5.describe()

          Article
count    4.000000
mean   178.250000
std     45.492673
min    114.000000
25%    162.000000
50%    194.000000
75%    210.250000
max    211.000000

## Get column names

In [61]:
# Column Names
jabar_covid.columns

Index(['date', 'positive_total', 'positive_daily', 'odp_process', 'odp_end',
       'odp_total', 'odp_daily', 'pdp_process', 'pdp_end', 'pdp_total',
       'pdp_daily', 'total_deceased', 'total_released',
       'total_positive_kotabekasi', 'total_positive_depok',
       'total_positive_kabbekasi', 'total_positive_kotabandung',
       'total_positive_kotabogor', 'total_positive_kabbogor',
       'total_positive_kotacimahi', 'total_positive_kabbandung',
       'total_positive_kabkuningan', 'total_positive_kabpurwakarta',
       'total_positive_kabcirebon', 'total_positive_kabsukabumi',
       'total_positive_kabsumedang', 'total_positive_kotatasikmalaya',
       'total_positive_kabciamis', 'total_positive_kabcianjur',
       'total_positive_kabgarut', 'total_positive_kabindramayu',
       'total_positive_kabkarawang', 'total_positive_kabmajalengka',
       'total_positive_kabpangandaran', 'total_positive_kabsubang',
       'total_positive_kabtasikmalaya', 'total_positive_kotabanjar',
       'total_positive_kotacirebon', 'total_positive_kotasukabumi'],
      dtype='object')

## Selecting specific rows

In [62]:
df5

   Author  Article
0    Joko      210
1  Mickey      211
2   Huang      114
3   Jyoti      178

In [63]:
jabar_covid

,date,positive_total,positive_daily,odp_process,odp_end,odp_total,odp_daily,pdp_process,pdp_end,pdp_total,...,total_positive_kabgarut,total_positive_kabindramayu,total_positive_kabkarawang,total_positive_kabmajalengka,total_positive_kabpangandaran,total_positive_kabsubang,total_positive_kabtasikmalaya,total_positive_kotabanjar,total_positive_kotacirebon,total_positive_kotasukabumi
0,01-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,02-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,03-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,04-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,05-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,06-Mar-20,3,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,07-Mar-20,3,0,0,0,429,0,0,0,48,...,0,0,0,0,0,0,0,0,0,0
7,08-Mar-20,3,0,0,0,429,0,0,0,48,...,0,0,0,0,0,0,0,0,0,0
8,09-Mar-20,3,0,0,0,533,0,0,0,49,...,0,0,0,0,0,0,0,0,0,0
9,10-Mar-20,3,0,0,0,592,59,0,0,53,...,0,0,0,0,0,0,0,0,0,0
10,11-Mar-20,3,0,0,0,639,47,0,0,59,...,0,0,0,0,0,0,0,0,0,0
11,12-Mar-20,3,0,0,0,653,14,0,0,63,...,0,0,0,0,0,0,0,0,0,0
12,13-Mar-20,3,0,0,0,706,53,0,0,65,...,0,0,0,0,0,0,0,0,0,0
13,14-Mar-20,3,0,0,0,706,0,0,0,82,...,0,0,0,0,0,0,0,0,0,0
14,15-Mar-20,10,7,0,0,785,79,0,0,83,...,0,0,0,0,0,0,0,0,0,0
15,16-Mar-20,10,0,0,0,881,96,0,0,89,...,0,0,0,0,0,0,0,0,0,0
16,17-Mar-20,10,0,0,0,1004,123,0,0,101,...,0,0,0,0,0,0,0,0,0,0
17,18-Mar-20,22,12,0,0,1165,161,0,0,126,...,0,0,0,0,0,0,0,0,0,0
18,19-Mar-20,26,4,0,0,1412,247,0,0,132,...,0,0,0,0,0,0,0,0,0,0
19,20-Mar-20,41,15,0,0,1506,94,0,0,136,...,0,0,0,0,0,0,0,0,0,0
20,21-Mar-20,55,14,0,0,1774,268,0,0,157,...,0,0,0,0,0,0,0,0,0,0
21,22-Mar-20,59,4,0,0,1822,48,0,0,166,...,0,0,0,0,0,0,0,0,0,0
22,23-Mar-20,59,0,0,0,2519,697,0,0,385,...,0,0,0,0,0,0,0,0,0,0
23,24-Mar-20,60,1,0,0,2771,252,0,0,466,...,0,0,0,0,0,0,0,0,0,0
24,25-Mar-20,73,13,0,0,3669,898,0,0,572,...,0,0,0,0,0,0,0,0,0,0
25,26-Mar-20,78,5,0,0,3703,34,0,0,578,...,0,0,0,0,0,0,0,0,0,0
26,27-Mar-20,98,20,3575,1399,4974,1271,524,134,658,...,0,0,0,0,0,0,0,0,0,0
27,28-Mar-20,98,0,3575,1399,4974,0,524,134,658,...,0,0,0,0,0,0,0,0,0,0
28,29-Mar-20,149,30,5293,1988,7281,1862,660,190,850,...,0,0,0,0,0,0,0,0,0,0
29,30-Mar-20,149,30,5293,1988,7281,1862,660,190,850,...,0,0,1,0,0,0,0,0,0,0
30,31-Mar-20,180,31,8467,2562,11038,3757,696,202,898,...,0,0,6,1,0,0,0,0,0,0
31,1-Apr-20,220,22,8467,2562,14291,1774,747,256,898,...,0,0,8,1,0,0,0,0,0,0
32,2-Apr-20,220,22,11245,3046,14291,1416,747,256,1003,...,0,0,8,1,0,0,0,0,0,0
33,3-Apr-20,225,5,11245,3046,16932,685,747,256,1205,...,0,0,8,1,0,0,0,0,0,0
34,4-Apr-20,247,22,11245,3046,20712,4320,747,256,1354,...,0,0,8,1,0,0,0,0,0,0
35,5-Apr-20,252,5,16916,5075,21991,1279,998,453,1451,...,0,0,8,1,0,0,0,0,0,0
36,6-Apr-20,263,11,16916,5075,21991,668,990,453,1451,...,0,0,8,1,0,0,2,1,1,0
37,7-Apr-20,343,80,16916,5075,21991,2365,990,453,1451,...,2,1,8,1,0,1,2,1,1,1
38,8-Apr-20,366,23,17231,8363,25594,570,1279,637,1916,...,2,1,8,1,0,1,2,1,1,1

In [65]:
sample1 = jabar_covid[1:8]
sample1

,date,positive_total,positive_daily,odp_process,odp_end,odp_total,odp_daily,pdp_process,pdp_end,pdp_total,...,total_positive_kabgarut,total_positive_kabindramayu,total_positive_kabkarawang,total_positive_kabmajalengka,total_positive_kabpangandaran,total_positive_kabsubang,total_positive_kabtasikmalaya,total_positive_kotabanjar,total_positive_kotacirebon,total_positive_kotasukabumi
1,02-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,03-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,04-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,05-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,06-Mar-20,3,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,07-Mar-20,3,0,0,0,429,0,0,0,48,...,0,0,0,0,0,0,0,0,0,0
7,08-Mar-20,3,0,0,0,429,0,0,0,48,...,0,0,0,0,0,0,0,0,0,0

In [68]:
sample2 = jabar_covid.iloc[1:8]
sample2

,date,positive_total,positive_daily,odp_process,odp_end,odp_total,odp_daily,pdp_process,pdp_end,pdp_total,...,total_positive_kabgarut,total_positive_kabindramayu,total_positive_kabkarawang,total_positive_kabmajalengka,total_positive_kabpangandaran,total_positive_kabsubang,total_positive_kabtasikmalaya,total_positive_kotabanjar,total_positive_kotacirebon,total_positive_kotasukabumi
1,02-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,03-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,04-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,05-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,06-Mar-20,3,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,07-Mar-20,3,0,0,0,429,0,0,0,48,...,0,0,0,0,0,0,0,0,0,0
7,08-Mar-20,3,0,0,0,429,0,0,0,48,...,0,0,0,0,0,0,0,0,0,0

## Selecting specific columns

In [69]:
jabar_covid.columns

Index(['date', 'positive_total', 'positive_daily', 'odp_process', 'odp_end',
       'odp_total', 'odp_daily', 'pdp_process', 'pdp_end', 'pdp_total',
       'pdp_daily', 'total_deceased', 'total_released',
       'total_positive_kotabekasi', 'total_positive_depok',
       'total_positive_kabbekasi', 'total_positive_kotabandung',
       'total_positive_kotabogor', 'total_positive_kabbogor',
       'total_positive_kotacimahi', 'total_positive_kabbandung',
       'total_positive_kabkuningan', 'total_positive_kabpurwakarta',
       'total_positive_kabcirebon', 'total_positive_kabsukabumi',
       'total_positive_kabsumedang', 'total_positive_kotatasikmalaya',
       'total_positive_kabciamis', 'total_positive_kabcianjur',
       'total_positive_kabgarut', 'total_positive_kabindramayu',
       'total_positive_kabkarawang', 'total_positive_kabmajalengka',
       'total_positive_kabpangandaran', 'total_positive_kabsubang',
       'total_positive_kabtasikmalaya', 'total_positive_kotabanjar',
       'total_positive_kotacirebon', 'total_positive_kotasukabumi'],
      dtype='object')

In [76]:
sample3 = jabar_covid[['total_positive_kabgarut']]
sample3

    total_positive_kabgarut
0                         0
1                         0
2                         0
3                         0
4                         0
5                         0
6                         0
7                         0
8                         0
9                         0
10                        0
11                        0
12                        0
13                        0
14                        0
15                        0
16                        0
17                        0
18                        0
19                        0
20                        0
21                        0
22                        0
23                        0
24                        0
25                        0
26                        0
27                        0
28                        0
29                        0
30                        0
31                        0
32                        0
33                        0
34                        0
35                        0
36                        0
37                        2
38                        2

In [77]:
sample4 = jabar_covid[['date', 'total_positive_kabtasikmalaya']]
sample4

         date  total_positive_kabtasikmalaya
0   01-Mar-20                              0
1   02-Mar-20                              0
2   03-Mar-20                              0
3   04-Mar-20                              0
4   05-Mar-20                              0
5   06-Mar-20                              0
6   07-Mar-20                              0
7   08-Mar-20                              0
8   09-Mar-20                              0
9   10-Mar-20                              0
10  11-Mar-20                              0
11  12-Mar-20                              0
12  13-Mar-20                              0
13  14-Mar-20                              0
14  15-Mar-20                              0
15  16-Mar-20                              0
16  17-Mar-20                              0
17  18-Mar-20                              0
18  19-Mar-20                              0
19  20-Mar-20                              0
20  21-Mar-20                              0
21  22-Mar-20                              0
22  23-Mar-20                              0
23  24-Mar-20                              0
24  25-Mar-20                              0
25  26-Mar-20                              0
26  27-Mar-20                              0
27  28-Mar-20                              0
28  29-Mar-20                              0
29  30-Mar-20                              0
30  31-Mar-20                              0
31   1-Apr-20                              0
32   2-Apr-20                              0
33   3-Apr-20                              0
34   4-Apr-20                              0
35   5-Apr-20                              0
36   6-Apr-20                              2
37   7-Apr-20                              2
38   8-Apr-20                              2

In [ ]:
sample5 = jabar_covid.loc[:, ['first', 'second']]

## Selecting from rows and columns
Selecting both rows and columns simultaneously can be done by these two methods:

In [ ]:
# From its index
selected_df = df.iloc[0:1000, [1,3,4]]
selected_df = df.iloc[[1,2,3,4,100,200], 0:3]

# From its name
selected_df = df.loc[0:100, ['first', 'second']]

## Sampling the dataframe
Make sure to choose either n (total rows) or frac ( fraction percentage)

In [ ]:
sample = df.sample(n=None, frac=None, random_state=None)

# Write Dataframe
When we have processed the dataframe and want to export it to external file, pandas have covered the functions for us:

In [ ]:
# Export to CSV
df.to_csv('gdrive/My Drive/DigitalSkola/Dataset/sample.csv', index=False, sep=';')

# Export to Excel
df.to_excel('filepath.xlsx', sheet_name='Sheet1', index=False)